extends template/layout

//mixin lunka(modify, count)
//    - if (count == null)
//    -   count = 6
//    - if (modify == 0)
//        - for(var i = 0; i < count; i++)
//            td.lunka#gamer
//                span 6
//    - else if (modify == null)
//        - for(var i = 0; i < count; i++)
//            td.lunka.enemy-obj#apponent
//                span 6

block title
    title #{title} | Игра

block content

    -var apponent_name = "Terminator", player_name = "Marcus"

    .game
        .container
            .row
                .apponent
                    img(src=baseUrl+"img/ai-profile.jpg")
                    .nick #{apponent_name}

            .row
                table.board.no-select#board
                    tr#enemy_list
                    tr#gamer_list
            .row
                .player
                    img(src=baseUrl + "img/profile-test.jpg")
                    .nick #{player_name}

            .row
                .save-game
                    .col.s12
                        button.btn.waves-effect.waves-light.large(type="submit" name="action") Сохранить игру
                            i.material-icons.right send
