extends layout

mixin lunka(modify, count)
    - if (count == null)
    -   count = 7
    - if (modify == 0)
        - for(var i = 0; i < count; i++)
            td.lunka
                span 6
    - else if (modify == null)
        - for(var i = 0; i < count; i++)
            td.lunka.enemy-obj
                span 6

block title
    title #{title} | Игра

block head

block scripts

block content

    -var apponent_name = "Terminator", player_name = "Marcus"

    .game
        .container
            .row
                .apponent
                    img(src=baseUrl+"assets/img/ai-profile.jpg")
                    .nick #{apponent_name}

            .row
                table.board
                    tr
                        td(rowspan=2).kalah.enemy-obj
                            span 0

                        +lunka()

                        td(rowspan=2).kalah
                            span 0
                    tr
                        +lunka(0)

            .row
                .player
                    img(src=baseUrl + "assets/img/profile-test.jpg")
                    .nick #{player_name}

    .row.save-game