extends layout

block title
    title #{title} | Правила

block content
    -var rules = [{img: baseUrl+"assets/img/board.jpg", text: "Игровое поле представляет собой деревянную доску с двумя рядами лунок по 6 в каждом ряду и двумя большими лунками по краям - калахами. Доска такая же, как и для игры в манкалу."}, {img: baseUrl+"assets/img/board.jpg", text: "Игровое поле представляет собой деревянную доску с двумя рядами лунок по 6 в каждом ряду и двумя большими лунками по краям - калахами. Доска такая же, как и для игры в манкалу."}, {img: baseUrl+"assets/img/slider.jpg", text: "Игровое поле представляет собой деревянную доску с двумя рядами лунок по 6 в каждом ряду и двумя большими лунками по краям - калахами. Доска такая же, как и для игры в манкалу."}]
    mixin rulesOut()
       each  val, index in rules
          if index % 2 == 0
               .row.left
                    img.z-depth-3(src=val.img)
                    p #{val.text}
          else
               .row.right
                    img.z-depth-3(src=val.img)
                    p #{val.text}



    .container
        .rules
            .row
                h1 Правила

            +rulesOut()

