header
    .navbar
        ul#slide-out.side-nav
            li
                .userView
                    h1 #{profile}



            li
                a.grey-text.text-lighten-3(href='index.html') "Главная"
            li
                a.grey-text.text-lighten-3(href='about.html') "Об игре"
            li
                a.grey-text.text-lighten-3(href='game-list.html') "Играть с человеком"
            li
                a.grey-text.text-lighten-3(href='new-game-ai.html') "Играть с компьютером"
            li
                a.grey-text.text-lighten-3(href='profile.html') "Профиль"

        nav
            .nav-wrapper.container
                .large-nav-bar
                    a.brand-logo(href="#{baseUrl}" target="_blank") #{siteName}
                    ul.right

                .mini-nav-bar
                    a(href="#!", data-activates="slide-out").button-collapse
                        i.material-icons menu
                    a.brand-logo(href="#{baseUrl}", data-activates="slide-out") #{siteName}