doctype html

//-Измненить настройки
- var baseUrl = ""
- var title = "Kalah"
- var siteName = title
- var profile = title
- var menu = [{name: "Главная", link: baseUrl + "index.html", icon: "view_stream"}, {name: "Об игре", link: baseUrl+ "about.html", icon: "info"}, {name:"Играть с человеком", link: baseUrl+"game.html", icon: "perm_identity"}, {name: "Играть с компьютером", link: baseUrl+"game.html", icon: "android"}, {name: "Профиль", link: baseUrl + "registration.html", icon: "account_circle"}]
- var footerTitle = siteName
- var footerText = "Онлайн игра Калах"
- var dataCopyright = "2016"
- var desingBy = "Ilya Konstantinov"
- var domain = "kalah"
- var webmasterEmail = "ilyakonst95@gmail.com"
- var links = [{name: "СГАУ", link: "http://ssau.ru/"}]

mixin select(items, first)
    select
        option(disabled, selected) #{first}
        each item in items
            option #{item}

html(lang="ru")
    head
        block title
            title #{title}

        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")

        //Import Google Icon Font
        link(href="http://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")

        //Fonts
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,500&subset=cyrillic", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Patua+One", rel="stylesheet")

        //Styles
        link(type="text/css", rel="stylesheet", href="css/main.css", media="screen,projection")

        //Let browser know website is optimized for mobile
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //Scripts
        script(type="text/javascript", src="js/main.js")

        block head

    body
        header
            .navbar
                ul#slide-out.side-nav
                    li
                        .userView
                            h1 #{profile}

                    each item in menu
                        li
                            a.grey-text.text-lighten-3(href=item.link) #{item.name}
                                i.material-icons #{item.icon}

                nav
                    .nav-wrapper.container
                        .large-nav-bar
                            a.brand-logo(href="#{baseUrl}" target="_blank") #{siteName}
                            ul.right
                                each item in menu
                                    li
                                        a.grey-text.text-lighten-3(href=item.link, target="_blank") #{item.name}
                        .mini-nav-bar
                            a(href="#!", data-activates="slide-out").button-collapse
                                i.material-icons menu
                            a.brand-logo(href="#{baseUrl}", data-activates="slide-out") #{siteName}


        main
            block content


        footer.page-footer
            #more-footer.container
                .row
                    .col.l6.s12
                        h5.white-text #{footerTitle}
                        p.grey-text.text-lighten-4 #{footerText}

                    .col.l4.offset-l2.s12
                        h5.white-text Ссылки
                        ul
                            each item in links
                                li
                                    a.grey-text.text-lighten-3(href=item.link, target="_blank") #{item.name}

            .footer-copyright
                .container.row
                    .col.s12.m6.l6 &copy; #{dataCopyright} Design by #{desingBy}
                    .col.s12.m6.l6
                        a.grey-text.text-lighten-4.right(href="mailto:#{webmasterEmail}") Web-master: admin@#{domain}.com